:root {
    --primary-dark: #0D47A1;
    --secondary-dark: #00838F;
    --accent-dark: #FFC400;
    --error-dark: #C5CAE9;
    --info-dark: #BF360C;
    --success-dark: #00E676;
    --warning-dark: #DD2C00;
    
    --primary-light: #1565C0;
    --secondary-light: #006064;
    --accent-light: #FFD740;
    --error-light: #121754;
    --info-light: #FF7043;
    --success-light: #388E3C;
    --warning-light: #DD2C00;
    
    --cosmicds-red: #E60001;
    --cosmicds-blue: #0F3A7E;

    --cosmicds-red-lighter: #ff4e4e;
    --cosmicds-blue-lighter: #1a63d9;
}

:root .theme--dark {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --accent: var(--accent-dark);
    --error: var(--error-dark);
    --info: var(var(--info-dark));
    --success: var(--success-dark);
    --warning: var(--warning-dark);
}

:root .theme--light {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --accent: var(--accent-light);
    --error: var(--error-light);
    --info: var(--info-light);
    --success: var(--success-light);
    --warning: var(--warning-light);
}

.cosmicds-appbar {
    background-color: #0d2040 !important;
    color: white !important;
}

.cosmicds-appbar .v-icon {
    color: white !important;

}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
}

/* General text size */
.v-card .v-card__subtitle, .v-card>.v-card__text, .v-card__subtitle,
.v-card__text   {
    font-size: 1rem;
    line-height: 1.5;
    padding-inline: 20px;
}
.theme--dark.v-card .v-card__subtitle, .theme--dark.v-card>.v-card__text {
    color:#f2f2f2;
}
.theme--light.v-card .v-card__subtitle, .theme--light.v-card>.v-card__text {
    color:#1a1a1a;
}

.guideline-button {
    font-weight: 400 !important;
}

.rounded-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

/* This is the background for the intro slideshow */
.theme--dark .v-sheet {
    background-color: #121212;
}
.theme--light .v-sheet {
    color: black;  /* Don't know why text is white if you don't specify this.. */
    background-color: #FAFAFA;
}

/* Captions have slightly less contrast than general text */
.v-application .caption {
    font-size: 1rem !important;
    font-weight: 400 !important;
}
.theme--dark .caption {
    color: #BDBDBD; 
}
.theme--light .caption {
    color: #424242; 
}

/* This removes the solara watermark */
.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}

.piggy-chip {
    background-color: black !important; 
    border: 1px solid var(--success-dark) !important;
    color: white !important;
}

.theme--dark .toolbar {
    background-color: var(--primary-dark) !important;    
}
.theme--light .toolbar {
    color: white !important;  
    background-color: var(--primary-light) !important;    
}
.toolbar-title {
    text-transform: uppercase;
    color: white !important;
}

.tutorial {
    background-color: var(--secondary) !important;
}

.inline-guideline-button {
    color:white !important;
    border-radius: 5px; 
    padding: 3px; 
}

/* NOTE: .v-application based selectors will work, but often will need to be either !important or (also) have a higher specificity selector than the default Vuetify css. */
/* Note that theme--dark and theme--light are defined on the *same* element as v-application, so .v-application should not be a descendent of .theme--[dark/light] */

/* These are for the mathjax boxes */
.theme--dark.v-application .legend {
    border: 1px solid white !important;
}
.theme--light.v-application .legend {
    border: 1px solid black !important;
}
.v-application .legend {
    max-width: 300px;
    margin: 0 auto 0;
    font-size: 15px !important;
}
.theme--dark .MathJax, .theme--dark.v-label {
    color: white !important;
}
.theme--light .MathJax, .theme--light.v-label {
    color: black !important;
}
.JaxEquation .MathJax {
    margin: 16px auto !important;
}

/* This is the background for displaying text students have entered */
.StudentResponses {
    /* font-weight: bold; */
    padding: 3px 5px;
    background-color: #FFAB91;
    border-radius: 5px;
    color: black;
    }

.padded-text {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

footer .col {
    padding-block: 0;
}

footer .row {
    align-items: center;
    margin-left: 0;
}

footer .v-card__text {
    padding: 6px;
}

.theme--dark .cosmicds-footer {
    background-color: var(--cosmicds-blue) !important; 
    color: #BDBDBD !important; 
    padding-block: 0;
}

.theme--light .cosmicds-footer {
    background-color: var(--cosmicds-blue-lighter) !important; 
    color: #F5f5f5 !important; 
    padding-block: 0;
}
/* 
/* Don't remember where this goes - could be deleted? */
.v-card__text .v-container {
    font-size: 18px !important;
    line-height: 1.5 !important;
} */

.v-radio label.theme--dark {
    color: white !important;
}
.v-radio label.theme--light {
    color: black !important;
}

.theme--dark .switch-panel {
    background-color: #233149;
}
.theme--light .switch-panel {
    background-color: #e0e9fc;
}

/** By default the WWT widget has a transparent background, but we want it to be black **/
#app .wwtelescope-component {
    background-color: #000;
}

/*.solara-container-main {*/
/*    max-width: 1264px;*/
/*    height: 100%;*/
/*    max-height: 100%;*/
/*    overflow: auto*/
/*}*/

/***** 
    ================================
    Solara/Vuetify default overrides 
    ================================
*****/

/* buttons should remain white, even in dark mode. as the toolbar is still #1565C0 */
.theme--light.toolbar .v-btn.v-btn .v-icon {
    color: #fff !important;
}
